body {
	background-color: #1e252d;
}
a {
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	border-bottom: dotted 1px;
	text-decoration: none;
}

#wrapper{
	transition: opacity 0.5s ease;
	position: relative;
	z-index: 1;
	overflow: hidden;
}










#intro {
	color: #ffffff;
	padding: 8rem 4rem 6rem 4rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: opacity 1s ease, transform 1s ease;
	position: relative;
	text-align: center;
	z-index: 1;
	min-height: 100vh	
}
#intro a{
	color: #ffffff;
	border-bottom-color: rgba(255, 255, 255, 0.5);
}
#intro a:hover{
	border-bottom-color: transparent;
	color: #18bfef !important;
}
#intro h1{
	color: #ffffff;
	font-size: 5rem;
	line-height: 1;
}
#intro p {
	font-size: 1.25rem;
	font-style: italic;
	margin-top: -0.25rem;
	text-align: center;
}

#intro + #header {
	margin-top: -10rem;
}








#header {
	color: #ffffff;	
	align-items: center;	
	display: flex;		
	flex-direction: column;		
	justify-content: flex-end;
	pointer-events: none;		
	user-select: none;
	height: 20rem;
	padding-bottom: 8rem;
	position: relative;
	text-align: center;
	z-index: 2;
}
#header h2 {
	border-bottom-color: rgba(255, 255, 255, 0.5);

}
#header h2:hover {
	border-color: #18bfef !important;
	color: #18bfef !important;
}
#header .logo {
	transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
	pointer-events: auto;
	border-style: solid;
	border-color: #ffffff;
	border-width: 5px !important;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 2.25rem;
	font-weight: 900;
	letter-spacing: 0.075em;
	line-height: 1;
	padding: 1rem 1.75rem;
	text-transform: uppercase;
	visibility: visible;
}















#nav {
	color: #ffffff;		
	display: flex;		
	transition: transform 1s ease, opacity 1s ease;
	background: rgba(255, 255, 255, 0.175);
	height: 4rem;
	line-height: 4rem;
	margin: -4rem auto 0 auto;
	overflow: hidden;
	padding: 0 2rem 0 0;
	position: relative;
	width: calc(100% - 4rem);
	max-width: 72rem;
	z-index: 2;
}
#nav a {
	color: #ffffff;
	border-bottom-color: rgba(255, 255, 255, 0.5);
}
#nav a:hover {
	border-bottom-color: transparent;
	color: #18bfef !important;
}
#nav .active {
	display: block;
	padding-left: 0;
}
#nav .icons a{	
	flex-grow: 0;			
	flex-shrink: 0;
	margin-bottom: 0;
}










#main {
	background-color: #ffffff;
	position: relative;
	margin: 0 auto;
	width: calc(100% - 4rem);
	max-width: 72rem;
	z-index: 2;
}









#footer {
	color: #717981;	
	display: flex;
	background-color: #f5f5f5;
	color: #909498;
	cursor: default;
	position: relative;
	margin: 0 auto;
	width: calc(100% - 4rem);
	max-width: 72rem;
	z-index: 2;
}


#footer a {
	color: #717981;
	border-bottom-color: rgba(113, 121, 129, 0.5);
}
#footer a:hover {
	border-bottom-color: transparent;
	color: #18bfef !important;
}
#footer h3, p {	
	font-size: 0.8rem;
}
#footer > section {			
	flex-basis: 50%;		
	flex-grow: 1;		
	flex-shrink: 1;
	padding: 4rem 4rem 2rem 4rem ;
	border-left: solid 2px #e2e2e2;
}
















#copyright {
	color: #ffffff;
	position: relative;
	color: rgba(255, 255, 255, 0.25);
	cursor: default;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 900;
	letter-spacing: 0.075em;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	margin: 4rem auto 8rem auto;
	width: calc(100% - 4rem);
	max-width: 72rem;
	z-index: 2;
}